@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Kalam:wght@700&family=Roboto&family=Varela+Round&family=Ysabeau+SC&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
::placeholder { 
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder { 
  color: white;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container{
  height: 100vh;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}
.login-div,.signup-div{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  flex-direction: column;
  background: linear-gradient(74deg, rgba(255,63,111,1) 0%, rgba(255,128,111,1) 100%); 
  transition: 0.3s all;
}
.signup-div{
  left: -100%;
}
.login-div{
  justify-content: center;
  grid-gap: 20px;
}
.logo{
  height: 150px;
  width: 150px;
  background: rgba(255, 255, 255, 0.2);
  background-position: center;
  background-size: cover;
  background-image: url("logo.png");
  border-radius: 20px;
}
.c-name{
  color: white;
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 30px;
}
form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  padding: 20px;
  grid-gap: 20px;
}
.login-div form{
  height: 400px;
}
.box{
  height: 50px;
  display: flex;
  align-items: center;
  grid-gap: 20px;
  justify-content: center;
  width: 90%;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}
.box input{
  border: none;
  outline: none;
  height: 100%;
  background: none;
  width: 80%;
  color: white;
  font-weight: 1000;
}
.box i{
  border-radius: 50%;
  padding: 18px;
  background: white;
  color: rgba(255,63,111,1);
}
.submit-btn{
  width: 90%;
  border: none;
  font-weight: 1000;
  text-transform: uppercase;
  color: rgba(255,63,111,1);
  border-radius: 25px ;
  background: white;
  height: 50px;
  cursor: pointer;
}
.ex-text{
  margin-top: 20px  ;
  color: white;
}
.ex-text a{
  color: white;
  text-decoration: none;
  font-weight: 1000;
}
.fp{
  text-decoration: none;
  color: white;
}